EXPO_PUBLIC_MODE=dev
EXPO_PUBLIC_ENABLE_PUSH_NOTIFICATIONS=false

# iOS Simulator: http://localhost:3333/api
# Android Emulator: http://10.0.2.2:3333/api
# Dispositivo físico: http://SEU_IP_NA_REDE:3333/api
EXPO_PUBLIC_API_DEV_BASE_URL=http://localhost:3333/api
EXPO_PUBLIC_API_DEMO_BASE_URL=https://demo.example.com/api
EXPO_PUBLIC_API_PROD_BASE_URL=https://api.example.com/api
